<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njxzc.wlgl.mapper.Transfer.ZzgsxxMapper" >
  <resultMap id="BaseResultMap" type="com.njxzc.wlgl.pojo.Transfer.Zzgsxx" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="City" property="city" jdbcType="VARCHAR" />
    <result column="CompanyName" property="companyName" jdbcType="VARCHAR" />
    <result column="LinkPhone" property="linkPhone" jdbcType="VARCHAR" />
    <result column="DetailAddress" property="detailAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, City, CompanyName, LinkPhone, DetailAddress
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_11_zzgsxx
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_11_zzgsxx
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njxzc.wlgl.pojo.Transfer.Zzgsxx" >
    insert into t_11_zzgsxx (id, City, CompanyName, 
      LinkPhone, DetailAddress)
    values (#{id,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{linkPhone,jdbcType=VARCHAR}, #{detailAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.njxzc.wlgl.pojo.Transfer.Zzgsxx" >
    insert into t_11_zzgsxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="city != null" >
        City,
      </if>
      <if test="companyName != null" >
        CompanyName,
      </if>
      <if test="linkPhone != null" >
        LinkPhone,
      </if>
      <if test="detailAddress != null" >
        DetailAddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null" >
        #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null" >
        #{detailAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njxzc.wlgl.pojo.Transfer.Zzgsxx" >
    update t_11_zzgsxx
    <set >
      <if test="city != null" >
        City = #{city,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        CompanyName = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null" >
        LinkPhone = #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null" >
        DetailAddress = #{detailAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njxzc.wlgl.pojo.Transfer.Zzgsxx" >
    update t_11_zzgsxx
    set City = #{city,jdbcType=VARCHAR},
      CompanyName = #{companyName,jdbcType=VARCHAR},
      LinkPhone = #{linkPhone,jdbcType=VARCHAR},
      DetailAddress = #{detailAddress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryZzgsxx" parameterType="com.njxzc.wlgl.pojo.Transfer.Zzgsxx" resultType="com.njxzc.wlgl.pojo.Transfer.Zzgsxx">
    select * from t_11_zzgsxx
    <where>
      <if test="city!=null and city!='' ">
        and City =#{city,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>