<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bar</title>
</head>
<body>
<!--head-->
<div class="header" th:fragment="header">
    <div class="logo"><img src="img/logo.png" th:src="@{/img/logo.png}"/></div>

    <div class="header-right">
        <i class="icon-question-sign icon-white"></i> <a href="#">帮助</a> <i class="icon-off icon-white"></i> <a
            id="modal-973558" href="#modal-container-973558" role="button" data-toggle="modal">注销</a> <i
            class="icon-user icon-white"></i> <a href="#">开票员的工作平台</a> <i class="icon-envelope icon-white"></i> <a
            href="#">发送短信</a>
        <div id="modal-container-973558" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" style="width:300px; margin-left:-150px; top:30%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">
                    注销系统
                </h3>
            </div>
            <div class="modal-body">
                <p>
                    您确定要注销退出系统吗？
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                <a class="btn btn-primary" style="line-height:20px;" href="login.html">确定退出</a>
            </div>
        </div>
    </div>
</div>
<!--left-->
<div th:fragment="left">
    <div class="left">

        <script type="text/javascript">
            var myMenu;
            window.onload = function () {
                myMenu = new SDMenu("my_menu");
                myMenu.init();
            };
        </script>

        <div id="my_menu" class="sdmenu">
            <div class="collapsed">
                <span>票据管理</span>
                <a class="inactive">票据分发</a>
                <ul >
                    <li><a style="cursor:pointer">票据分发</a></li>
                    <li><a style="cursor:pointer">票据查询</a></li>
                </ul>
                <a class="inactive">票据销核</a>
                <ul >
                    <li><a style="cursor:pointer">已填票据</a></li>
                    <li><a style="cursor:pointer">作废票据</a></li>
                    <li><a style="cursor:pointer">结账票据</a></li>
                </ul>
                <!--<a href="查询页面.html">票据分发</a>
                <a href="分理处发货排行榜.html">票据查询</a>
                <a href="开票界面.html">票据销核</a>
                <a href="客户投诉.html">已填票据</a>
                <a href="线路管理.html">作废票据</a>
                <a href="#">结账票据</a>-->
            </div>
            <div class="collapsed">
                <span>接货管理</span>
                <a href="#">货运单填写</a>
                <a href="#">查询接货单</a>
            </div>
            <div class="collapsed">
                <span>发货管理</span>
                <a href="#">填写运输合同</a>
                <a href="#">查询运输合同</a>
            </div>

            <div class="collapsed">
                <span>到货管理</span>
                <a href="#">司机回执</a>
                <a href="#">客户回执</a>
                <a href="#">差错记录</a>
                <a href="#">新到货物</a>
                <a href="#">到货历史</a>

            </div>
            <div class="collapsed">
                <span>中转管理</span>
                <a href="/transfer/ZzgsxxAdd">中转公司填写</a>
                <a href="/transfer/Zzgsxx">中转公司查询</a>
                <a href="/transfer/zzxx">中转填写</a>
                <a href="/transfer/zzxxs">中转查询</a>
            </div>
            <div class="collapsed">
                <span>结算管理</span>
                <a href="#">货运单结算</a>
                <a href="#">运输合同结算</a>
                <a href="#">代收款结算</a>
                <a href="#">其他结算</a>

            </div>
            <div class="collapsed">
                <span>客户服务</span>
                <a href="#">投诉登记</a>
                <a href="#">投诉历史</a>
                <a href="#">投诉处理</a>
                <a href="#">提货回告</a>
                <a href="#">到货回告</a>
                <a href="#">发货客户回告</a>
                <a href="#">收货客户回告</a>
                <a href="#">已提回告</a>
                <a href="#">代收回告</a>

            </div>
            <div class="collapsed">
                <span>监控分析</span>
                <a href="#">运单时间监控</a>
                <a href="#">运单质量监控</a>
                <a href="#">客户运量排行</a>
                <a href="#">司机运量排行</a>
                <a href="#">业务统计日报表</a>
                <a href="#">统计报表</a>

            </div>
            <div class="collapsed">
                <span>成本核算</span>
                <a href="/cost_accounting/toYywsr">营业外收入</a>
                <a href="/cost_accounting/ygxx">员工工资</a>
                <a href="/cost_accounting/toHtml">财务费用</a>
                <a href="#">管理费用</a>
                <a href="/cost_accounting/toPcxx">赔款信息</a>
                <a href="#">损益报表</a>
            </div>
            <div class="collapsed">
                <span>应用管理</span>
                <a href="/application/khxx">客户填写</a>
                <a href="/application/khxxs">客户查询</a>
                <a href="/application/sjxx">司机填写</a>
                <a href="/application/sjxxs">司机查询</a>
                <a href="/application/dqcs">城市信息</a>
                <a href="/application/xlxx">线路信息</a>
                <a href="/application/zyxx">职员填写</a>
                <a href="/application/zyxxs">职员查询</a>
            </div>
            <div class="collapsed">
                <span>系统管理</span>
                <a href="#">功能填写</a>
                <a href="#">用户组设置</a>
                <a href="#">用户设置</a>
                <a href="#">修改密码</a>
                <a href="#">数据维护</a>
            </div>
        </div>
    </div>
    <!--<div class="Switch"></div>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".Switch").click(function () {
                $(".left").toggle();

            });
        });
    </script>-->
</div>
</body>
</html>