<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>城市信息管理</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="css/css.css" th:href="@{/css/css.css}"/>
    <script type="text/javascript" src="js/jquery1.9.0.min.js" th:src="@{/js/jquery1.9.0.min.js}"></script>
    <script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="js/sdmenu.js" th:src="@{/js/sdmenu.js}"></script>
    <script type="text/javascript" src="js/laydate/laydate.js" th:src="@{/js/laydate/laydate.js}"></script>

    <script>
        //全局变量itemsList用于存储后台传来的list
        var dqcsList;
        $(document).ready(function () {
            $.ajax({
                type: 'post',
                url: '/application/dqcss',
                data: '',
                contentType: 'application/json',
                success: function (result) {
                    //将result存到全局变量itemsList中
                    dqcsList = result;
                    var trc = $("#Dqcs_table");
                    trc.nextAll().remove();
                    var meg = "";
                    $.each(result, function (index, dqcs) {
                        //cskcs用来存储城市扩充List(第二层数组)
                        var cskcs = "";
                        $.each(dqcs.cskcList, function (index, cskc) {
                            if (cskc.rangeCity != null) {
                                cskcs += "<a onclick='delCskc(" + cskc.id + ")'>" + cskc.rangeCity + "<a>&nbsp;&nbsp;&nbsp;&nbsp;";
                            }
                        });
                        meg = "<td style='text-align: center'>" + dqcs.id + "</td><td style='text-align: center'>" + dqcs.city
                            + "</td><td>" + cskcs + "</td><td><button class='btn btn-small btn-danger' onclick='del(" + dqcs.id + ")'>删除</button>" +
                            "<button class='btn btn-small btn-danger' onclick='showInUpdateForm(" + dqcs.id + ")'>更新</button>" +
                            "<form action='/application/addCskc' method='post'><input type='hidden' name='id'>" +
                            "<input type='hidden' name='cityID' value='" + dqcs.id + "'>" +
                            "<input type='text' name='rangeCity' placeholder='扩充城市名'><input type='submit' value='增加扩充城市'></form></td>";
                        trc.append("<tr>" + meg + "</tr>");
                    });
                    //alert(JSON.stringify(result));
                }
            });
        })

        function del(id) {
            $("#deleteId").val(id);
            $("#deleteForm").submit();
        }

        function delCskc(id) {
            $("#deleteCskcId").val(id);
            $("#deleteCskcForm").submit();
        }

        function showInUpdateForm(id) {
            $("#UpdateDqcs").hide(125);
            $("#UpdateDqcs").show(250);
            $.each(dqcsList, function (index, dqcs) {
                if (id == dqcs.id) {
                    $("#dqcs_id").val(dqcs.id);
                    $("#dqcs_name").val(dqcs.city)
                }
            });
        }

    </script>

</head>
<body>
<div th:replace="~{commons/bar :: header}"></div>

<div id="middle">

    <div th:replace="~{commons/bar :: left}"></div>

    <div class="right" id="mainFrame">

        <div class="right_cont">
            <ul class="breadcrumb">当前位置：
                <a href="#">首页</a> <span class="divider">/</span>
                <a href="#">应用管理</a> <span class="divider">/</span>
                城市信息管理
            </ul>
        </div>
        <div id="DqcsQueryMain" style="width: 80%;height: 80%;margin: auto;left: 0;right: 0;top: 0;bottom: 0">
            <div style="height: 60%">
                <table id="Dqcs_table" class="table table-striped table-hover table-bordered table-condensed"
                       align="center" border="1" width="80%" height="50%">
                    <thead>
                    <tr>
                        <th>城市编号</th>
                        <th>城市名称</th>
                        <th>扩充城市</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="Dqcs_tbody">
                    </tbody>
                </table>

            </div>
            <div id="Querydetail" style="height: 1%;display: none">
            </div>

            <!--增加-->
            <button id="addToggle" class="btn btn-small btn-danger">添加城市</button>
            <div id="AddDqcs" style="width: 80%;height: 20%;display: none">
                <form action="/application/addDqcs" method="post">
                    <input type="hidden" name="id"/>
                    <span>城市名称：</span><input type="text" name="city" placeholder="请输入城市名称"/><br>
                    <input type="submit" value="添加"/>
                </form>
            </div>

            <!--删除城市的form-->
            <form id="deleteForm" action="/application/DqcsDelete" method="get">
                <!--<input  name="_method" value="delete"/>-->
                <input type="hidden" name="id" id="deleteId"/>
            </form>

            <!--删除扩充城市的form-->
            <form id="deleteCskcForm" action="/application/deleteCskc" method="get">
                <!--<input  name="_method" value="delete"/>-->
                <input type="hidden" name="id" id="deleteCskcId"/>
            </form>

            <!--更新-->
            <div id="UpdateDqcs" style="width: 80%;height: 20%;display: none">
                <form action="/application/updateDqcs" method="post">
                    <input type="hidden" id="dqcs_id" name="id"/><br>
                    <span>城市名称：</span><input type="text" id="dqcs_name" name="city"/><br>
                    <input type="submit" value="更新"/>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    $("#addToggle").click(function () {
        $("#AddDqcs").toggle(200);
    })
</script>
</body>
</html>