<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njxzc.wlgl.mapper.cost_accounting.YywsrMapper" >
  <resultMap id="BaseResultMap" type="com.njxzc.wlgl.pojo.cost_accounting.Yywsr" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Money" property="money" jdbcType="DOUBLE" />
    <result column="IncomeMonth" property="incomeMonth" jdbcType="TIMESTAMP" />
    <result column="WriteDate" property="writeDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, Name, Money, IncomeMonth, WriteDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_20_yywsr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_20_yywsr
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njxzc.wlgl.pojo.cost_accounting.Yywsr" >
    insert into t_20_yywsr ( Name, Money,
      IncomeMonth, WriteDate)
    values (#{name,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE},
      #{incomeMonth,jdbcType=TIMESTAMP}, #{writeDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njxzc.wlgl.pojo.cost_accounting.Yywsr" >
    update t_20_yywsr
    <set >
      <if test="name != null and name!=''" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="money != null " >
        Money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="incomeMonth != null" >
        IncomeMonth = #{incomeMonth,jdbcType=TIMESTAMP},
      </if>
      <if test="writeDate != null" >
        WriteDate = #{writeDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryByCondition" resultType="com.njxzc.wlgl.pojo.cost_accounting.Yywsr">
    select 
    <include refid="Base_Column_List"/>
    from t_20_yywsr
    <where>
       <if test="minMoney!=null ">
         and Money >= #{minMoney}
       </if>
      <if test="maxMoney!=null ">
        and Money &lt;= #{maxMoney}
      </if>
      <if test="dateStart!=null">
        and writeDate >= #{dateStart}
      </if>
      <if test="dateEnd!=null">
        and writeDate &lt;= #{dateEnd}
      </if>
    </where>
  </select>
</mapper>