<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>物流管理系统</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="css/css.css" th:href="@{/css/css.css}"/>
    <link rel="stylesheet"  th:href="@{/css/left.css}"/>
    <script type="text/javascript" src="js/jquery1.9.0.min.js" th:href="@{/js/jquery1.9.0.min.js}"></script>
    <script type="text/javascript" src="js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="js/sdmenu.js" th:href="@{/js/sdmenu.js}"></script>
    <script type="text/javascript" src="js/laydate/laydate.js" th:href="@{/js/laydate/laydate.js}"></script>

</head>

<body>
<div th:replace="~{commons/bar :: header}"></div>

<div id="middle">
    <div th:replace="~{commons/bar :: left}"></div>

    <div class="right" id="mainFrame">

        <div class="right_cont">
            <ul class="breadcrumb">当前位置：
                <a href="#">首页</a> <span class="divider"></span>
            </ul>
        </div>

        <h1 align="center" >欢迎您：[[${session.username}]]</h1>
    </div>
</div>

</div>


<script>
    !function () {
        laydate.skin('molv');
        laydate({elem: '#Calendar'});
    }();

</script>


</body>
</html>
