<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>客户填写</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/css.css"/>
    <script type="text/javascript" src="/js/jquery1.9.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/sdmenu.js"></script>
    <script type="text/javascript" src="/js/laydate/laydate.js"></script>
</head>
<body>
<!--抽取公共头部-->
<div th:replace="~{index :: header}"></div>
<!--顶部-->
<div id="middle">
    <div th:replace="~{index :: left}"></div>

<span class="span_title">客户填写：</span>
<hr />
<form id="form_customer" method="post" action="/customer/addCustomer">
    <table width="399" border="0" align="center">
        <tr>
            <td width="68"><span class="span_content">客户编号：</span><font class="mark">*</font></td>
            <td width="135"><input class="input_text"name="CustomerCode" type="text"/></td>
            <td width="182">&nbsp;</td>

            <td width="68"><span class="span_content">客户名称：</span><font class="mark">*</font></td>
            <td width="135"><input class="input_text" name="CustomerName" type="text"/></td>
            <td width="182">&nbsp;</td>
        </tr>



        <tr>
            <td width="68"><span class="span_content">客户电话：</span><font class="mark">*</font></td>
            <td width="135"><input class="input_text" name="Phone" type="text"/></td>
            <td width="182">&nbsp;</td>

            <td><span class="span_content">客户传真：</span></td>
            <td><input class="input_text" name="Fax" type="text" /></td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td width="68"><span class="span_content">客户地址：</span><font class="mark">*</font></td>
            <td width="135"><input class="input_text" name="Address" type="text"/></td>
            <td width="182">&nbsp;</td>

            <td width="68"><span class="span_content">客户邮编：</span><font class="mark">*</font></td>
            <td width="135"><input class="input_text" name="PostCode" type="text"/></td>
            <td width="182">&nbsp;</td>
        </tr>

        <tr>
            <td width="68"><span class="span_content">联系人：</span><font class="mark">*</font></td>
            <td width="135"><input class="input_text" name="Linkman" type="text"/></td>
            <td width="182">&nbsp;</td>

            <td width="68"><span class="span_content">联系人手机：</span><font class="mark">*</font></td>
            <td width="135"><input class="input_text" name="LinkmanMobile" type="text"/></td>
            <td width="182">&nbsp;</td>
        </tr>
        <tr>
            <td><span class="span_content">客户类型：</span><font class="mark">*</font></td>
            <td><select id="choose_type" name="CustomerType">
                <option value="会员" selected="selected">会员</option>
                <option value="非会员" selected="selected">非会员</option>
            </select></td>
            <td>&nbsp;</td>

            <td><span class="span_content">企业规模：</span><font class="mark">*</font></td>
            <td><select id="choose_etype" name="EnterpriseSize">
                <option value="小型" selected="selected">小型</option>
                <option value="中等" selected="selected">中等</option>
                <option value="高级" selected="selected">高级</option>
            </select></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td width="68"><span class="span_content">企业性质：</span><font class="mark">*</font></td>
            <td width="135"><input class="input_text" name="EnterpriseProperty" type="text"/></td>
            <td width="182">&nbsp;</td>

            <td width="68"><span class="span_content">电子邮件：</span><font class="mark">*</font></td>
            <td width="135"><input class="input_text" name="Email" type="text"/></td>
            <td width="182">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td ><input class="lbutton" type="submit" value="提交" /></td>
            <td></td>
        </tr>
    </table>
</form>
<hr />
</div>
</body>
</html>