<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>晶科物流管理系统</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{css/login_html.css}"/>
    <script type="text/javascript" src="js/jquery1.9.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
<div class="tit"><img src="img/tit.png" alt=""/></div>
<div class="login-wrap">
    <form action="/login" method="post" id="fomid">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="25" valign="bottom">用户名：</td>
            </tr>
            <tr>
                <td><input type="text" class="login_input login_user" name="userName"/></td>
            </tr>
            <tr>
                <td height="35" valign="bottom">密 码：</td>
            </tr>
            <tr>
                <td><input type="password" class="login_input login_password" name="password"/></td>
            </tr>
            <tr>
                <td height="60" valign="bottom"><a href="#" class="btn btn-block btn-login" onclick="sub()">登录</a></td>
            </tr>

        </table>
        <p style="color: red" align="center" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    </form>
</div>
<div class="copyright">建议使用IE8以上版本或谷歌浏览器</div>
</body>
<script type="text/javascript">
    function sub() {
        $("#fomid").submit();
    }
</script>
</html>
