<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>司机信息查询</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="css/css.css" th:href="@{/css/css.css}"/>
    <link rel="stylesheet" th:href="@{/css/cost_accounting/Yywsr.css}"/>
    <script type="text/javascript" src="js/jquery1.9.0.min.js" th:src="@{/js/jquery1.9.0.min.js}"></script>
    <script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="js/sdmenu.js" th:src="@{/js/sdmenu.js}"></script>
    <script type="text/javascript" src="js/laydate/laydate.js" th:src="@{/js/laydate/laydate.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <style type="text/css">

    </style>
</head>

<body>
<div th:replace="~{commons/bar :: header}"></div>

<div id="middle">

    <div th:replace="~{commons/bar :: left}"></div>

    <div class="right" id="mainFrame">

        <div class="right_cont">
            <ul class="breadcrumb">当前位置：
                <a href="#">首页</a> <span class="divider">/</span>
                <a href="#">成本核算</a> <span class="divider">/</span>
                营业外收入
            </ul>
        </div>
        <div style="height: 60%">
            <div align="center" style="margin-top: 50px">
            <input type="text" placeholder="请输入最低金额" id="minMoney" />
            <input type="text" placeholder="请输入最高金额" id="maxMoney"/>
            <input type="text" placeholder="请输入填写开始日期" id="dateStart"/>
            <input type="text" placeholder="请输入填写结束日期" id="dateEnd"/>
            <button class="btn-primary" onclick="YywsrQuery()">查询</button>
            <button onclick="showAdd()"  class="btn-success">添加</button>
            </div>
            <table class="table table-bordered" style="margin-top: 20px">
                <thead>
                    <th>序号</th>
                    <th>事件名称</th>
                    <th>收入金额</th>
                    <th>收入月份</th>
                    <th>填写日期</th>
                    <th>操作</th>
                </thead>
                <tbody id="tb" align='center'>

                </tbody>
            </table>

        </div>
        <div style="height: 40%;width: 100%">
            <div id="divAdd">
            <form action="/cost_accounting/YywsrAdd" method="post">
                <span class="span1-1">事件名称：</span><input type="text" name="name"/><br>
                <span class="span1-1">收入金额：</span><input type="text" name="money"/><br>
                <span class="span1-1">收入月份：</span><input type="text" name="incomeMonth" id="incomeMonth"/><br>
                <span class="span1-1">填写日期：</span><input type="text" name="writeDate" id="writeDate"/><br>
                <input type="submit" value="添加记录" class="btn-success"/>
            </form>
            </div>
            <div id="divUpdate">
                <form action="/cost_accounting/YywsrUpdate" method="post">
                    <input name="id" type="hidden" id="upId"/>
                    <span class="span1-1">事件名称：</span><input type="text" name="name" id="upName"/><br>
                    <span class="span1-1">收入金额：</span><input type="text" name="money" id="upMoney"/><br>
                    <span class="span1-1">收入月份：</span><input type="text" name="incomeMonth" id="upIncomeMonth"/><br>
                    <span class="span1-1">填写日期：</span><input type="text" name="writeDate" id="upWriteDate"/><br>
                    <input type="submit" value="修改记录" class="btn-primary"/>
                </form>

            </div>
        </div>
        <!--点击删除按钮后弹出的页面-->
        <div class="zhezhao"></div>
        <div class="remove" id="removeBi">
            <div class="removerChid">
                <h2>提示</h2>
                <div class="removeMain">
                    <form action="/cost_accounting/YywsrDelete" method="post" id="Delete_form">
                        <p>你确定要删除该记录吗？</p>
                        <input type="hidden" id="deId" name="id"/>
                        <a href="#" id="yes">确定</a>
                        <a href="#" id="no">取消</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    function showAdd() {
        $("#divAdd").toggle();
    }

    function showUpdate(id) {
        $("#divUpdate").toggle();
        $.each(datetemp,function (index,Yywsr) {
          if(Yywsr.id==id){//如果传过来的id等于全局变量里面的循环里的id
             $("#upId").val(id);
             $("#upName").val(Yywsr.name);
             $("#upMoney").val(Yywsr.money);
             $("#upIncomeMonth").val(new Date(Yywsr.incomeMonth).Format("yyyy-MM"));
             $("#upWriteDate").val(new Date(Yywsr.writeDate).Format("yyyy-MM-dd HH:mm:ss"));
          }
        })
    }

    //显现出删除框
    function YywsrDelete(id) {
        $('.zhezhao').css('display', 'block');
        $('#removeBi').fadeIn();
        $('#deId').val(id);
    };
    //取消
    $(function () {
        $('#no').click(function () {
            $('.zhezhao').css('display', 'none');
            $('#removeBi').fadeOut();
        });
    });
    //确认删除
    $(function () {
        $('#yes').click(function () {
            $('#Delete_form').submit();
        });
    });

    var datetemp;//全局变量用于存储数据
    function YywsrQuery() {
        $.ajax({
           type:'post',
           url: '/cost_accounting/YywsrQuery',
           data: {minMoney:$("#minMoney").val(),maxMoney:$("#maxMoney").val(),
                  dateStart:$("#dateStart").val(),dateEnd:$("#dateEnd").val()},
           success:function (result) {
               datetemp = result;
               var tb = $("#tb");
               tb.nextAll().remove();//清空tr防止重复追加数据
               var msg='';
               $.each(result,function (index,data) {
                   var incomeMonth=new Date(data.incomeMonth).Format("yyyy-MM");
                   var writeDate=new Date(data.writeDate).Format("yyyy-MM-dd HH:mm:ss");
                   msg +="<tr>" +
                         "<td align='center'>"+data.id+"</td>"+
                         "<td align='center'>"+data.name+"</td>"+
                         "<td align='center'>"+data.money+"</td>"+
                         "<td align='center'>"+incomeMonth+"</td>"+
                         "<td align='center'>"+writeDate+"</td>"+
                         "<td align='center'>" +
                         "<button class='btn-primary' onclick='showUpdate("+data.id+")'>修改</button>" +
                         "<button class='btn-danger' onclick='YywsrDelete("+data.id+")'>删除</button></td>"+
                         "</tr>";
               });
               tb.after(msg);
           },
           error:function () {
               alert("通讯失败！")
           } 
        });
    }
</script>
<script type="text/javascript">
    //日期插件的使用
    laydate.render({
        elem: '#incomeMonth'
        ,type: 'month'
    });

    laydate.render({
        elem: '#writeDate'
        ,type: 'datetime'
    });

    laydate.render({
        elem: '#upIncomeMonth'
        ,type: 'month'
    });

    laydate.render({
        elem: '#upWriteDate'
        ,type: 'datetime'
    });

    laydate.render({
        elem: '#dateStart'
        ,type: 'datetime'
    });

    laydate.render({
        elem: '#dateEnd'
        ,type: 'datetime'
    });

</script>
</body>
</html>
